// Bootstrap
//replace bootstrap variables
$warning: orange;
@import "~bootstrap/scss/bootstrap";

// Nunito Font
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600");

* {
  font-family: 'Nunito', sans-serif;
}


// notification style
@import "~angular-notifier/styles";
